{% extends "bootstrap/vertical_base.html" %}

{% load humanize %}

{% load custom_filters %}

{% load crispy_forms_tags %}

{% load static %}

{% block extra_css %}
<!-- Select2 css -->
<link href="{% static 'css/vendor/select2.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Daterangepicker css -->
<link href="{% static 'css/vendor/daterangepicker.css' %}" rel="stylesheet" type="text/css" />
<!-- Bootstrap Touchspin css -->
<link href="{% static 'css/vendor/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Flatpickr Timepicker css -->
<link href="{% static 'css/vendor/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Bootstrap Datepicker css -->
<link href="{% static 'css/vendor/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Bootstrap Timepicker css -->
<link href="{% static 'css/vendor/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link href="{% static 'css/inputs.css' %}" rel="stylesheet" type="text/css" >

<!-- Selectize.js CSS -->
<link href="{% static 'css/selectize.min.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/form_builder.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/mtp.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/crm.css' %}" rel="stylesheet" type="text/css" >

{% endblock %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} Enquiry - Steel Carriers CRM{% endblock %}

{% block content %}
<!-- Header Row -->
    <div class="row">
        <div class="col">
            <h4><i class="bi bi-file-earmark-text"></i> {% if form.instance.pk %}Edit{% else %}Create New{% endif %} Enquiry </h4>
        </div>
        <div class="col-auto mt-2">
            <div class="btn-group mb-2">
               
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0"><i class="fas {% if form.instance.pk %}fa-edit{% else %}fa-plus{% endif %} me-2"></i>
                        {% if form.instance.pk %}Edit{% else %}Create New{% endif %} Enquiry
                    </h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="enquiryForm">
                        {% csrf_token %}
                        
                        <!-- Basic Information -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-info-circle me-2"></i>Basic Information
                                </h6>
                            </div>
                            
                            <div class="col-md-3">
                                {{ form.enquiry_type|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.enquiry_date|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.required_by_date|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.priority|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Tender Specific Fields -->
                        <div class="row mb-4 tender-field" style="display: none;">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3 text-warning">
                                    <i class="fas fa-gavel me-2"></i>Tender Information
                                </h6>
                            </div>
                            
                            <div class="col-md-4">
                                {{ form.tender_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.tender_id|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.tender_date|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.tender_authority|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.bid_submission_date|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Referral Specific Fields -->
                        <div class="row mb-4 referral-field" style="display: none;">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3 text-info">
                                    <i class="fas fa-user-friends me-2"></i>Referral Information
                                </h6>
                            </div>
                            
                            <div class="col-md-4">
                                {{ form.referral_person_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.referral_mobile|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.referral_company|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Customer Information -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-users me-2"></i>Customer Information
                                </h6>
                            </div>
                            
                            <div class="col-md-6">
                                {{ form.customer|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.contact_person|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.alternative_contact|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Enquiry Details -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-file-alt me-2"></i>Enquiry Details
                                </h6>
                            </div>
                            
                            <div class="col-12">
                                {{ form.subject|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.source|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.delivery_location|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.project_requirements|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Financial Information -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-money-bill-wave me-2"></i>Financial Information
                                </h6>
                            </div>
                            
                            <div class="col-md-6">
                                {{ form.currency|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.estimated_budget|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Enquiry Items -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-list me-2"></i>Service Items
                                </h6>
                                
                                <div class="formset" data-prefix="{{ item_formset.prefix }}">
                                    {{ item_formset.management_form }}
                                    
                                    <div class="empty-form d-none">
                                        {% for field in item_formset.empty_form %}
                                            {% if field.name != 'DELETE' %}
                                                <div class="mb-3">
                                                    {{ field|as_crispy_field }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <button type="button" class="btn btn-sm btn-danger remove-form">
                                            <i class="fas fa-trash me-1"></i>Remove
                                        </button>
                                        <hr>
                                    </div>
                                    
                                    {% for form in item_formset %}
                                    <div class="formset-form border p-3 mb-3 rounded">
                                        <h6 class="text-primary">Service Item #{{ forloop.counter }}</h6>
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ form.service_category|as_crispy_field }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form.service_description|as_crispy_field }}
                                            </div>
                                            <div class="col-12">
                                                {{ form.detailed_specifications|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.quantity|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.unit|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.target_price|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.customer_budget|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.crane_capacity|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.boom_length|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.working_height|as_crispy_field }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form.radius|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.start_date|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.end_date|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.location_requirements|as_crispy_field }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.safety_requirements|as_crispy_field }}
                                            </div>
                                            <div class="col-12">
                                                {{ form.notes|as_crispy_field }}
                                            </div>
                                        </div>
                                        {% if form.DELETE %}
                                        <div class="mt-2">
                                            {{ form.DELETE|as_crispy_field }}
                                        </div>
                                        {% endif %}
                                        <button type="button" class="btn btn-sm btn-danger remove-form">
                                            <i class="fas fa-trash me-1"></i>Remove Item
                                        </button>
                                    </div>
                                    {% endfor %}
                                </div>
                                
                                <button type="button" class="btn btn-sm btn-primary add-form">
                                    <i class="fas fa-plus me-1"></i>Add Another Service Item
                                </button>
                            </div>
                        </div>

                        <!-- Additional Information -->
                        <div class="row mb-4">
                            <div class="col-12">
                                <h6 class="border-bottom pb-2 mb-3">
                                    <i class="fas fa-sticky-note me-2"></i>Additional Information
                                </h6>
                            </div>
                            
                            <div class="col-12">
                                {{ form.notes|as_crispy_field }}
                            </div>
                            <div class="col-12">
                                {{ form.attachment|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Form Actions -->
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <a href="{% if form.instance.pk %}{% url 'crm:enquiry_detail' form.instance.pk %}{% else %}{% url 'crm:enquiry_list' %}{% endif %}" 
                                       class="btn btn-secondary">
                                        <i class="fas fa-arrow-left me-2"></i>Cancel
                                    </a>
                                    <div>
                                        {% if form.instance.pk %}
                                        <a href="{% url 'crm:enquiry_delete' form.instance.pk %}" class="btn btn-danger me-2">
                                            <i class="fas fa-trash me-2"></i>Delete
                                        </a>
                                        {% endif %}
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-save me-2"></i>
                                            {% if form.instance.pk %}Update{% else %}Create{% endif %} Enquiry
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/crm.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

{% if messages %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const theme = document.documentElement.getAttribute('data-bs-theme') || 'light';
      {% for message in messages %}
        Swal.fire({
          title: "{{ message.tags|title }}",
          text: "{{ message|escapejs }}",
          icon: "{{ message.tags }}", // valid: success, error, warning, info, question
          confirmButtonText: "OK",
          background: theme === 'dark' ? '#343a40' : '#ffffff',
          color: theme === 'dark' ? '#f8f9fa' : '#212529',
          confirmButtonColor: theme === 'dark' ? '#0d6efd' : '#0d6efd',
          customClass: {
            popup: 'rounded-4 shadow',
            confirmButton: 'btn btn-primary px-4 py-2'
          }
        });
      {% endfor %}
    });
  </script>
{% endif %}

<script>
    $(document).ready(function() {
        // Initialize date pickers
        $('input[type="date"]').attr('min', new Date().toISOString().split('T')[0]);
        
        // Dynamic field toggling
        function toggleDynamicFields() {
            const enquiryType = $('#id_enquiry_type').val();
            $('.tender-field, .referral-field').hide();
            
            if (enquiryType === 'tender') {
                $('.tender-field').show();
                // Make tender fields required
                $('.tender-field input, .tender-field select').attr('required', true);
            } else if (enquiryType === 'referral') {
                $('.referral-field').show();
                // Make referral fields required
                $('.referral-field input').attr('required', true);
            } else {
                $('.tender-field input, .tender-field select, .referral-field input').removeAttr('required');
            }
        }
        
        $('#id_enquiry_type').change(toggleDynamicFields);
        toggleDynamicFields(); // Initial call
    });
</script>
{% endblock %}

{% block extra_javascript %}

{% include "bootstrap/partials/syntax-highlight.html" %}

<!-- Third party js -->
<script src="{% static 'js/vendor/handlebars.min.js' %}"></script>
<script src="{% static 'js/vendor/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-timepicker.min.js' %}"></script>
<!-- Third party js ends -->

<script src="{% static 'js/vendor/flatpickr.min.js' %}"></script>

<!-- Init js -->
<script src="{% static 'js/pages/demo.typehead.js' %}"></script>
<script src="{% static 'js/pages/demo.timepicker.js' %}"></script>
<!-- Init js end -->

<!-- Selectize.js JS -->
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
{% endblock %}